.logo-top{
	position: absolute;
    top: 15px;
}
.logo-top img{
	width:175px ;
}
.logo-side{
	margin-top: 22px;
}
.logo-side1{
    margin-top: 0px;
}
.bg-brown{
    background: #ab8651;
}
.sticky-wrapper.sticky-wrapper-effect-1.sticky-wrapper-effect-1-dark.sticky-effect-active .logo-top {
    position: absolute;
    top: 0px;
}
.sticky-wrapper.sticky-wrapper-effect-1.sticky-wrapper-effect-1-dark.sticky-effect-active .logo-top img {
    width: 91px;
}
.sticky-wrapper.sticky-wrapper-effect-1.sticky-wrapper-effect-1-dark.sticky-effect-active .logo-side {
    margin-top: 0px;
}
.sticky-wrapper.sticky-wrapper-effect-1.sticky-wrapper-effect-1-dark.sticky-effect-active .sticky-body {
    background: #db2428;
}
section.section.section-height-5 {
    padding: 147.692px 0;
    padding: 80px 0px;
}
.pic-home img{
	margin: -220px 0px 0px -60px;
    padding: 0px 0px 0px 0px;
    border: 25px solid #fff;
}
.custom-featured-boxes-style-1 .featured-box .box-content {
    padding: 60.8px 28.8px;
    padding: 1.8rem 1.8rem;
    border: 1px solid #43474a;
    transition: ease border-color 300ms;
}
.custom-featured-boxes-style-1 .featured-box .box-content svg {
    width: 88px;
    height: auto;
    fill: #222222;
    transition: ease fill 300ms;
}
.custom-thumb-info-style-1 .thumb-info-wrapper:after {
    background: #d1bf9ef0;
}
.footer {
    background-color: #00297f;
    background-image: url('../img/footer.png');
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.22'%3E%3Cpath fill-rule='evenodd' d='M41 37.59V25h-2v12.59l-8.9-8.9-1.41 1.41 8.9 8.9H25v2h12.59l-8.9 8.9 1.41 1.41 8.9-8.9V55h2V42.41l8.9 8.9 1.41-1.41-8.9-8.9H55v-2H42.41l8.9-8.9-1.41-1.41-8.9 8.9zM1 1h2v2H1V1zm0 4h2v2H1V5zm0 4h2v2H1V9zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm4 0h2v2H5v-2zm4 0h2v2H9v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zM5 1h2v2H5V1zm4 0h2v2H9V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm0 4h2v2h-2V5zm0 4h2v2h-2V9zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zM5 5h70v70H5V5zm2 68h66V7H7v66zM9 9h62v62H9V9zm2 60h58V11H11v58zm2-39.6V13h16.4A29.1 29.1 0 0 0 13 29.4zM15 15v6.67A31.17 31.17 0 0 1 21.67 15H15zm-2 52V50.6A29.1 29.1 0 0 0 29.4 67H13zm2-8.67V65h6.67A31.17 31.17 0 0 1 15 58.33zM67 67H50.6A29.1 29.1 0 0 0 67 50.6V67zm-8.67-2H65v-6.67A31.17 31.17 0 0 1 58.33 65zM67 13v16.4A29.1 29.1 0 0 0 50.6 13H67zm-2 8.67V15h-6.67A31.17 31.17 0 0 1 65 21.67zM39 13h2v2h-2v-2zm7.02.66l1.93.52-.51 1.93-1.94-.52.52-1.93zm6.61 2.46l1.74 1-1 1.73-1.74-1 1-1.73zm5.75 4.08l1.42 1.42-1.42 1.4-1.4-1.4 1.4-1.42zm4.5 5.43l1 1.74-1.73 1-1-1.74 1.73-1zm2.94 6.42l.52 1.93-1.93.52-.52-1.94 1.93-.51zM67 39v2h-2v-2h2zm-.66 7.02l-.52 1.93-1.93-.51.52-1.94 1.93.52zm-2.46 6.61l-1 1.74-1.73-1 1-1.74 1.73 1zm-4.08 5.75l-1.42 1.42-1.4-1.42 1.4-1.4 1.42 1.4zm-5.43 4.5l-1.74 1-1-1.73 1.74-1 1 1.73zM41 67h-2v-2h2v2zm6.95-1.18l-1.93.52-.52-1.93 1.94-.52.51 1.93zm-13.97.52l-1.93-.52.51-1.93 1.94.52-.52 1.93zm-6.61-2.46l-1.74-1 1-1.73 1.74 1-1 1.73zm-5.75-4.08l-1.42-1.42 1.42-1.4 1.4 1.4-1.4 1.42zm-4.5-5.43l-1-1.74 1.73-1 1 1.74-1.73 1zm-2.94-6.42l-.52-1.93 1.93-.52.52 1.94-1.93.51zM13 41v-2h2v2h-2zm.66-7.02l.52-1.93 1.93.51-.52 1.94-1.93-.52zm2.46-6.61l1-1.74 1.73 1-1 1.74-1.73-1zm4.08-5.75l1.42-1.42 1.4 1.42-1.4 1.4-1.42-1.4zm5.43-4.5l1.74-1 1 1.73-1.74 1-1-1.73zm6.42-2.94l1.93-.52.52 1.93-1.94.52-.51-1.93zM40 63a23 23 0 1 1 0-46 23 23 0 0 1 0 46zm0-2a21 21 0 1 0 0-42 21 21 0 0 0 0 42zm0-2a19 19 0 1 1 0-38 19 19 0 0 1 0 38zm0-2a17 17 0 1 0 0-34 17 17 0 0 0 0 34z'/%3E%3C/g%3E%3C/svg%3E"); 
}

.card-body h3{
    color:#fff !important;
}
.card.custom-card-style-1 {
    background: 0 0;
    border: 5px solid #d1bf9e;
}
html.side-header-overlay-full-screen #header .header-body {
    background-color: #cb9e4c61;
    border: 0;
}
html.side-header-overlay-full-screen #header {
    display: flex;
    align-items: center;
    background-color: rgb(205 34 37);
    position: fixed;
    box-shadow: 0 0 18pxrgba(68,68,68,.07);
    top: 0;
    left: 0;
    width: 51vw;
    height: 100vh;
    padding-top: 48px;
    padding-top: 3rem;
    opacity: 0;
    visibility: hidden;
    transition: ease opacity 300ms,ease visibility 300ms;
}
.header-video {
    position: relative;
    overflow: hidden;
}
#hero_video {
    position: relative;
    background-size: cover;
    color: #fff;
    width: 100%;
    font-size: 16px;
    display: table;
    height: 600px;
    z-index: 99;
    text-align: center;
    text-transform: uppercase;
}
.header-video video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.service-slider .blog-item .box-content img{
	width: 88px;
	margin: auto;
}
section.section.section-height-4 {
    padding: 110.769px 0;
    padding: 80px 0px;
}

.servi1{
	background-image: url(../img/projects/rooms.jpg);
	height: 530px;
	position: relative;
}
.serv11-inner{
	background: #00000040;
	height: 100%;
    position: relative;
}

.serv11-inner .servi-text{
    position: relative;
}


.servi1 h2{
/*	position: absolute;*/
    top: 47%;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    left: 8%;
    padding-top: 99%;
}
.servi2{
	background-image: url(../img/projects/meeting.jpg);
    height: 530px;
    position: relative;
}
.servi2 h2{
/*	position: absolute; */
    top: 47%;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    left: 8%;
    /* margin-top: 12%; */
    padding-top: 99%;
}
.servi3{
	background-image: url(../img/projects/food.jpg);
    height: 530px;
    position: relative;
}
 .servi3 h2{
/*	position: absolute;*/
    top: 47%;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
     text-align: center; 
    left: 8%;
    padding-top: 99%;
}

.servi1 a, .servi2 a, .servi3 a{
	position: absolute;
    top: 103%;
    left: 38%;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    text-decoration: none;
}

.facility{
	padding: 80px 0px!important;
}
#contactus{
	padding: 80px 0px;
}
.fine-art img{
	position: absolute;
    right: 0px;
    top: 100%;
    width: 257px;
}
.fine-art1 img{
	width: 136px;
    margin-top: -82%;
}
.fine-art2{
    position:relative;
    display:none;
}
.fine-art2 img{
	width: 164px;
    right: -120px;
    position: absolute;
    transform: rotate(30deg);
    margin-top: -73px;
}
#ourprojects{
	background-color: #f7f7f7;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='church-on-sunday' fill='%23f1e6e6' fill-opacity='0.46'%3E%3Cpath d='M77.17 0H80v2.83l-.1.1A39.9 39.9 0 0 1 74.64 20a39.9 39.9 0 0 1 5.24 17.06l.11.11v2.89c-.01 6.9-1.8 13.79-5.35 19.94A39.96 39.96 0 0 1 80 79.94V80h-2.83L66.84 69.66a39.83 39.83 0 0 1-24.1 10.25l.09.09h-5.66l.1-.1c-8.7-.58-17.22-4-24.1-10.23L2.82 80H0V79.94c.01-6.9 1.8-13.8 5.35-19.94A39.96 39.96 0 0 1 0 40.06V37.17l.1-.1A39.9 39.9 0 0 1 5.36 20 39.9 39.9 0 0 1 .1 2.94L0 2.83V0h2.83l-.1.1a39.83 39.83 0 0 1 24.1 10.24L37.18 0H40c0 6.92-1.78 13.83-5.35 20A39.96 39.96 0 0 1 40 40c0-6.92 1.78-13.83 5.35-20A39.96 39.96 0 0 1 40 0h2.83l10.33 10.34A39.83 39.83 0 0 1 77.26.09L77.17 0zm.77 77.94c-.3-5.52-1.8-11-4.49-16a40.18 40.18 0 0 1-5.17 6.34l9.66 9.66zm-12.52-9.7l-6.83-6.83-5.46 5.46-1.41 1.41-9.66 9.66c8.4-.45 16.69-3.68 23.36-9.7zm-23.07 6.58l7.99-7.98a40.05 40.05 0 0 1-3.79-4.9 37.88 37.88 0 0 0-4.2 12.88zM47.68 60a37.98 37.98 0 0 0 4.07 5.42L57.17 60l-5.42-5.42A38 38 0 0 0 47.68 60zm2.66-6.84a40.06 40.06 0 0 0-3.79 4.9 37.88 37.88 0 0 1-4.2-12.88l7.99 7.98zm1.38-1.44l1.41 1.41 5.46 5.46 6.83-6.84a37.85 37.85 0 0 0-23.36-9.7l9.66 9.67zM60 60l6.87 6.87A38.1 38.1 0 0 0 72.32 60a38.11 38.11 0 0 0-5.45-6.87L60 60zm-14.65 0a39.9 39.9 0 0 0-5.24 17.06l-.11.11-.1-.1A39.9 39.9 0 0 0 34.64 60a39.9 39.9 0 0 0 5.24-17.06l.11-.11.1.1A39.9 39.9 0 0 0 45.36 60zm9.23-48.25a37.85 37.85 0 0 1 23.36-9.7l-9.66 9.67-1.41 1.41-5.46 5.46-6.83-6.84zm13.67 13.67L62.83 20l5.42-5.42A38 38 0 0 1 72.32 20a37.98 37.98 0 0 1-4.07 5.42zm5.2-3.47a40.05 40.05 0 0 1-3.79 4.89l7.99 7.98c-.61-4.45-2.01-8.82-4.2-12.87zm-6.58 4.92l1.41 1.41 9.66 9.66a37.85 37.85 0 0 1-23.36-9.7l6.83-6.83 5.46 5.46zM53.13 13.13L60 20l-6.87 6.87A38.11 38.11 0 0 1 47.68 20a38.1 38.1 0 0 1 5.45-6.87zm-1.41-1.41l-9.66-9.66c.3 5.52 1.8 11 4.49 16a40.18 40.18 0 0 1 5.17-6.34zm-9.66 26.22c.3-5.52 1.8-11 4.49-16a40.18 40.18 0 0 0 5.17 6.34l-9.66 9.66zm26.22 13.78l9.66-9.66c-.3 5.52-1.8 11-4.49 16a40.18 40.18 0 0 0-5.17-6.34zm8.98-11.81L66.84 50.34a39.83 39.83 0 0 0-24.1-10.25l10.42-10.43a39.83 39.83 0 0 0 24.1 10.25zm-7.6-26.75a40.06 40.06 0 0 1 3.79 4.9 37.88 37.88 0 0 0 4.2-12.88l-7.99 7.98zm-31.72 28.9c-8.4.45-16.69 3.68-23.36 9.7l6.83 6.83 5.46-5.46 1.41-1.41 9.66-9.66zM22.83 60l5.42 5.42c1.54-1.7 2.9-3.52 4.07-5.42a38 38 0 0 0-4.07-5.42L22.83 60zm5.45 8.28l-1.41-1.41-5.46-5.46-6.83 6.84a37.85 37.85 0 0 0 23.36 9.7l-9.66-9.67zm9.37 6.54l-7.99-7.98a40.05 40.05 0 0 0 3.79-4.9 37.88 37.88 0 0 1 4.2 12.88zM20 60l-6.87-6.87A38.11 38.11 0 0 0 7.68 60a38.11 38.11 0 0 0 5.45 6.87L20 60zm17.26-19.9L26.84 29.65a39.83 39.83 0 0 1-24.1 10.25l10.42 10.43a39.83 39.83 0 0 1 24.1-10.25zm-35.2 1.96l9.66 9.66a40.18 40.18 0 0 0-5.17 6.33c-2.7-5-4.2-10.47-4.5-16zm4.49 19.89c-2.7 5-4.2 10.47-4.5 16l9.67-9.67a40.18 40.18 0 0 1-5.17-6.33zm31.1-16.77c-.61 4.45-2.01 8.82-4.2 12.87a40.06 40.06 0 0 0-3.79-4.89l7.99-7.98zm-4.2-23.23c2.7 5 4.2 10.47 4.5 16l-9.67-9.67c1.97-1.97 3.7-4.1 5.17-6.33zm-14.86-.54l6.83 6.84a37.85 37.85 0 0 1-23.36 9.7l9.66-9.67 1.41-1.41 5.46-5.46zm-8.25 5.43l-7.99 7.98c.61-4.45 2.01-8.82 4.2-12.87a40.04 40.04 0 0 0 3.79 4.89zm1.41-1.42A37.99 37.99 0 0 1 7.68 20a38 38 0 0 1 4.07-5.42L17.17 20l-5.42 5.42zm-5.2-7.37a40.04 40.04 0 0 1 3.79-4.89L2.35 5.18c.61 4.45 2.01 8.82 4.2 12.87zm6.58-4.92l-1.41-1.41-9.66-9.66a37.85 37.85 0 0 1 23.36 9.7l-6.83 6.83-5.46-5.46zm13.74 13.74L20 20l6.87-6.87A38.1 38.1 0 0 1 32.32 20a38.1 38.1 0 0 1-5.45 6.87zm6.58-8.82a40.18 40.18 0 0 0-5.17-6.33l9.66-9.66c-.3 5.52-1.8 11-4.49 16z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	padding: 80px 0px;
}

.footer-no{
    font-size: 27px;
    margin-bottom: 44px;;
}
.footer-no1{
    font-size: 27px;
}
section.section.section-height-3{
    padding: 100px 0px 50px;
    background-color: #f7f7f7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ab8651' fill-opacity='0.14'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.breadcrumb>li a , .breadcrumb>li a:hover{
    color: #5d3915;
}
section.section {
    background: #f7f7f7;
    border-top: 5px solid #f1f1f1;
    margin: 30px 0;
    padding: 80px 0px;
}
.contact-page{
    padding: 80px 0px;
}
.list.list-icons.list-icons-style-3 li {
    padding-top: 15px;
    padding-left: 49px;
    font-size: 15px;
}
.list.list-icons.list-icons-style-3 li > [class*="fa-"]:first-child{
    background-color: #5b3713;
}
.list.list-icons.list-icons-style-3 li>[class*=fa-]:first-child{
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 5px;
    font-size: 15px;
    line-height: 23px;
    margin-right: 41px;
}
html .btn-primary {
    background-color: #5b3713;
    border-color: #5b3713 #5b3713 #5b3713;
    color: #fff;
    --color: #fff;
    --hover: #5b3713;
    --disabled: #5b3713;
    --active: #5b3713;
}
html .btn-primary:hover:not(.bg-transparent), html .btn-primary.hover:not(.bg-transparent) {
    background-color: #c6aa7b;
    color: #fff;
}
.googlemaps{
    height: 318px;
}
.googlemaps iframe{
    width: 100%;
    height: 100%;
}
.gallery-page1 {
    padding: 100px 0px;
}
.gallery-ul {
    width: 50%;
    margin: auto;
    display: flex;
}
.main2 ul li.active, .main2 ul li:hover {
    color: #000;
    border-bottom: 2px solid #7e1124;
}
.main2 ul li {
    margin-right: 10px;
    margin-bottom: 34px;
    font-weight: normal;
    cursor: pointer;
    transition: all .5s ease;
    color: #333;
    font-size: 15px;
    padding: 6px 12px;
}
.main2 .container-fluid {
    overflow: hidden;
    padding: 0;
}
.main2 .container-fluid .col-md-3 {
    padding: 3px;
    float: left;
    transition: all 5s ease-in-out;
    cursor: pointer;
}
.main2 .container-fluid img {
    width: 100%;
}
.sidebar{
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    padding: 20px;
}
.sidebar form label {
    font-weight: 400;
    display: block;
    text-align: center;
    font-size: 16px;
    /* font-weight: 600; */
    color: saddlebrown;
    padding-bottom: 2px;
}
.sidebar input[type=date], .sidebar input[type=text]{
    width: 100%;
    padding: 9px;
    border: 1px solid #e1d6d6;
    margin-bottom: 20px;
}
html body .tabs-dark .nav-tabs li .nav-link.active{
    border-top-color: #5b3713;
    color: #212529;
    font-size: 15px;
}
html body .tabs-dark .nav-tabs li .nav-link{
    font-size: 15px;
}
.thumb-info .thumb-info-title {
    transition: all .3s;
    background: rgba(33,37,41,.8);
    color: #fff;
    font-weight: 600;
    left: 0;
    letter-spacing: -.05em;
    position: absolute;
    z-index: 2;
    max-width: 90%;
    font-size: 17px;
    padding: 12px 21px 12px;
    bottom: 13%;
}
.content-text h3{
    text-align:center;
}
html .btn-dark:hover:not(.bg-transparent), html .btn-dark.hover:not(.bg-transparent) {
    background-color: #db2428;
}
html .btn-outline.btn-dark {
    color: #222222;
    background-color: transparent;
    background-image: none;
    border-color: #00297f;
}
html .btn-outline.btn-dark:hover, html .btn-outline.btn-dark.hover {
    color: #FFF;
    background-color: #db2428;
    border-color: #db2428;
}
html .text-color-primary, html .text-primary {
    color: #db2428 !important;
}
html .btn-primary:hover:not(.bg-transparent), html .btn-primary.hover:not(.bg-transparent) {
    background-color: #db2428;
    color: #fff;
}
html .btn-outline.btn-primary:hover, html .btn-outline.btn-primary.hover {
    color: #fff;
    background-color: #db2428;
    border-color: #db2428;
}
html .btn-outline.btn-primary {
    color: #002b83;
    background-color: transparent;
    background-image: none;
    border-color: #00297f;
}
.owl-carousel:not(.nav-arrows-1):not(.show-nav-title) .owl-nav button[class*="owl-"] {
    background-color: #db2428;
    border-color: #ab8651 #ab8651 #ab8651;
    color: #fff;
}
.owl-carousel:not(.nav-arrows-1):not(.show-nav-title) .owl-nav button[class*="owl-"]:hover, .owl-carousel:not(.nav-arrows-1):not(.show-nav-title) .owl-nav button[class*="owl-"].hover {
    background-color: #db2428;
    border-color: #fec08d #fec08d #FEA45A;
}

@media(max-width:2560px){
    /*.fine-art2 img {*/
    /*    width: 202px;*/
    /*    right: -7px;*/
    /*    position: absolute;*/
    /*    top: 176%;*/
    /*    transform: rotate(30deg);*/
    /*}*/
    /*.fine-art1 img {*/
    /*    width: 136px;*/
    /*    margin-top: -47%;*/
    /*}*/
}

@media(max-width:1440px){
    .fine-art img {
        position: absolute;
        right: 0px;
        top: 100%;
        width: 180px;
    }
    /*.fine-art2 img {*/
    /*    width: 161px;*/
    /*    right: -7px;*/
    /*    position: absolute;*/
    /*    top: 176%;*/
    /*    transform: rotate(30deg);*/
    /*}*/
}